on:
  push:
    paths: 
      - ".github/workflows/android-emulator.yaml"

jobs:
  android-emulator:
    runs-on: ubuntu-latest
    name: android emulator
    steps:
      - uses: actions/checkout@v1
      - run: ./start_emulator.sh

