on:
  push:
    paths: 
      - ".github/workflows/env.yaml"
env:
  GLOBAL_KEY: global_env_value
jobs:
  usage:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - name: result
      run: env | grep GLOBAL
